@import "tailwindcss";

:root {
  --safe-top: env(safe-area-inset-top, 20px);
  --safe-bottom: env(safe-area-inset-bottom, 20px);
  --safe-left: env(safe-area-inset-left, 20px);
  --safe-right: env(safe-area-inset-right, 20px);
}

body {
  margin: 0;
  background-color: #000;
  color: white;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
}